TF47_Api/wwwroot/squadxml/squad.dtd

<!ELEMENT squad (name, email, web?, picture?, title?, member+)>
<!ATTLIST squad nick CDATA #REQUIRED>

<!ELEMENT member (name, email, icq?, remark?, picture?, steamid?)>
<!ATTLIST member id CDATA #REQUIRED nick CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT icq (#PCDATA)>
<!ATTLIST icq href CDATA #IMPLIED>
<!ELEMENT steamid (#PCDATA)>
<!ELEMENT web (#PCDATA)>
<!ELEMENT remark (#PCDATA)>
<!ELEMENT picture (#PCDATA)>
<!ELEMENT title (#PCDATA)>
